<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.TraineeMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.model.Trainee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="training_id" property="trainingId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="workunit" property="workunit" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, training_id, name, workunit, phone, status, memo, password, photo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from trainee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from trainee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.model.Trainee" >
    insert into trainee (id, training_id, name, 
      workunit, phone, status, 
      memo,password,
      photo)
    values (#{id,jdbcType=INTEGER}, #{trainingId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{workunit,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{memo,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
      #{photo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.model.Trainee" >
    insert into trainee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trainingId != null" >
        training_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="workunit != null" >
        workunit,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="photo != null" >
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trainingId != null" >
        #{trainingId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null" >
        #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
           <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.model.Trainee" >
    update trainee
    <set >
      <if test="trainingId != null" >
        training_id = #{trainingId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="workunit != null" >
        workunit = #{workunit,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.model.Trainee" >
    update trainee
    set training_id = #{trainingId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      workunit = #{workunit,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countByTrainingId" parameterType="int" resultType="int">
    SELECT count(1)
    FROM trainee
    WHERE training_id = #{trainingId}
  </select>

  <select id="countByPhone" parameterType="map" resultType="int">
    SELECT count(1)
    FROM trainee
    WHERE phone = #{phone}
    <if test="id != null">
      AND id != #{id}
    </if>
  </select>

  <select id="getPage" parameterType="map" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM trainee
    ORDER BY id DESC
    LIMIT #{page.offset}, #{page.pageSize}
  </select>

  <select id="countAll" resultType="int">
    SELECT count(1)
    FROM trainee
  </select>

</mapper>